.centered {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.damage-component {
  display: flex;
  flex-direction: row;
}

.speedometer {
  width: 300px !important;
  height: 180px !important;
}
#fullGoogleMap {
  margin: 0px !important;
}
.in-line {
  display: flex;
  flex-direction: row;
}

.damage-component-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ant-input-number {
  width: 80px !important;
}
.ant-collapse-header {
  padding-top: 1px !important;
  padding-bottom: 0px !important;
  padding-right: 0px !important;
}
.ant-collapse {
  background-color: white;
}

.ant-collapse-content-box {
  padding: 10px !important;
}
.ant-table-tbody tr td {
  border: 0px !important;
}
