.centered {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.damage-component {
  display: flex;
  flex-direction: row;
}

.speedometer {
  width: 300px !important;
  height: 180px !important;
}
#fullGoogleMap {
  margin: 0px !important;
}
.in-line {
  display: flex;
  flex-direction: row;
}
