body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* font-family: "Titillium Web", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heading {
  font-weight: 700;
}

.subheading {
  font-weight: 300;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 6vw;
  font-weight: 100;
}

h3 {
  font-family: "Playfair Display", serif;
  font-style: bold;
  font-size: 28px;
}

p {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 14px;
}
